.app_header {
    text-align: center;
    color: white;
    background-color: black;
    height: 100px;
    padding-top: auto;
    padding-bottom:auto;
}

.search_box {
    text-align: center;
    color: black;
    background-color: darkgray;
    height: 40px;
}

.filter_options_box {
    text-align: center;
    color: black;
    background-color: lightgray;
    height: 40px;
}

.results_item_box {
    text-align: center;
    color: black;
    background-color: white;
}

.results_item_heading {
    text-align: center;
    color: black;
}

.thumbnail_container {
    float: left;
}

.subheading, .description {
    color: black;
    text-align: center;
}